/**
 * Stylesheet for the EHOP website.
 */

body {
    /* padding: 0rem; */
    border: 0;
    /* min-width: 25rem; */
    /* max-width: 50rem; */
    font-family: 'Hahmlet', serif;
    font-size: 12pt;
    margin: 0 auto;
    width:100%;
}

@media only screen and (min-width: 1000px) {
    .main {
        width: 900px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    .main {
        width: 100%;
    }
}

/* ul { */
/*     padding-left: 2rem; */
/* } */

/* li { */
/*     list-style-type: none; */
/*     padding-top: 0.5rem; */
/*     padding-bottom: 0.5rem; */
/* } */

/* Hyperlinks */
a {
    text-decoration: none;
    color: #0078b4;
}

a:active, a:hover {
    text-decoration: underline;
}

/* Anchors */
a.anchor, a.anchor:active, a.anchor:hover {
    color: #000;
    text-decoration: none;
}

/* Navigation bar */
ul.navbar {
    text-align: center;
}

ul.navbar li {
    display: inline;
}

ul.navbar li:not(:first-child):before {
    content: '\ffed';
    margin-right: 5px;
}

/* Headings and paragraphs */
h1, h2, h3 {
    font-weight: 800;
}

h1 {
    text-align: center;
}

p {
    line-height: 1.75em;
}

/* Spaced listing */
ul.spaced-listing {
    list-style-type: none;
}

ul.spaced-listing li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Publications */
ul.publication {
    padding: 0;
    list-style-type: none;
}

ul.publication li {
    padding: 1px 0;
}

.title {
  /* no particular style */
}

.authors {
    font-style: italic;
    font-family: serif;
    font-size: 11pt;
}

.info {
  font-size: 10pt;
}

/* Team members */
.member {
    display: inline-block;
    width: 250px;
    padding-bottom: 20px;
}

.member .member-photograph {
    text-align: center;
    display: block;
    width: 100%;
}

.member-photograph img {
    border-radius: 50%;
    border: 10px solid #ccc;
    width: 200px;
    height: 200px;
}

.member .member-affiliation, .member .member-name {
    display: block;
    text-align: center;
}

.member-affiliation {
    font-style: italic;
}

/* Flexible 3 cell grid */
ul.grid-3 {
    text-align: center;
}

@media only screen and (min-width: 900px) {
    ul.grid-3 {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    ul.grid-3 .ghost-2, ul.grid-3 .ghost-3 {
        display: block;
    }
}

@media only screen and (min-width: 600px) and (max-width:900px) {
    ul.grid-3 {
        display: grid;
        grid-template-columns: auto auto;
    }

    ul.grid-3 .ghost-2 {
        display: block;
    }

    ul.grid-3 .ghost-3 {
        display: none;
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    ul.grid-3 {
        display: block;
        padding-left: 0;
        list-style-position: inside;
    }

    ul.grid-3 .ghost-2, ul.grid-3 .ghost-3 {
        display: none;
    }
}

ul.grid-3 li {
    display: inline-block;
}

/* Project partners logos */
.project-partners li {
    max-width: 200px;
}

.project-partners li img {
    width: 70%;
    height: auto;
}

/* Misc: do not display member photographs nor project partners logos
   on tiny screens. */
@media only screen and (max-width: 200px) {
    .project-partners li img {
        display: none;
    }

    .member-photograph img {
        display: none;
    }
}
